@import url("https://fonts.googleapis.com/css?family=Tangerine");


:root {
    --primary-color: #XXXXXX;
    --second-color: #XXXXXX;
    --accent1-color: #XXXXXX;
    --accent2-color: #XXXXXX;

    --heading-font: '_______', serif;
    --paragraph-font: '_______', serif;
    
    --nav-background-color: #XXXXXX;
    --nav-link-color: #XXXXXX;
    --nav-hover-link-color: #XXXXXX;
    --nav-hover-background: #XXXXXX;
}



.hero img{
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    height: 600px; 
    color: white;
}

.hero h1,
.hero article {
  position: absolute;
  top: 50%; /* Centra verticalmente los elementos */
  left: 50%; /* Centra horizontalmente los elementos */
  transform: translate(-50%, -50%); /* Centra los elementos correctamente */
}

.links a{
    text-decoration: none;
    color: black;
}

.img2{
  width: 300px !important;
  height: 300px !important;
}

.hero article {
    position: absolute;
    top: 90%;
    background-color: rgb(177, 185, 179, 0.5);
    color: rgb(28, 1, 1) !important;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.history{
    font-size: 50px;
    color: rgb(55, 55, 2);
    font-weight:bolder ;
}


header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

section{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 2fr 4fr;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
    justify-content: end;
    align-items: center;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: flex;
    align-items: end;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Crea 5 columnas de igual tamaño */
    grid-gap: 10px; /* Espaciado entre las imágenes */
    text-align: center; /* Centrar el texto debajo de las imágenes */
}

.section2 img {
    width: 100%; /* Asegurar que las imágenes ocupen todo el ancho del contenedor */
}

.section1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Cada imagen ocupará una quinta parte del contenedor */
    grid-gap: 10px; /* Espaciado entre las imágenes */
    text-align: center; /* Centrar el texto debajo de las imágenes */
}

.wa{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight:bolder ;
    display: flex;
    justify-content: center;
}

.copy{
    display: flex;
    justify-content: center;  
    align-items: center;
}

